@font-face {
  font-family: "iconfont"; /* Project id 3359865 */
  src: url('./iconfont/iconfont.woff2?t=1651490730279') format('woff2'),
       url('./iconfont/iconfont.woff?t=1651490730279') format('woff'),
       url('./iconfont/iconfont.ttf?t=1651490730279') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-good:before {
  content: "\e62a";
}

.icon-wolaihuida:before {
  content: "\e7bb";
}

.icon-tiwen:before {
  content: "\e7bf";
}

.icon-tiwen1:before {
  content: "\e62e";
}

.icon-fabu:before {
  content: "\e642";
}

.icon-tubiaozhuanqu-09:before {
  content: "\e644";
}

.icon-shequ:before {
  content: "\e627";
}

.icon-jifen:before {
  content: "\e60a";
}

.icon-kecheng-:before {
  content: "\e61f";
}

.icon-yinle:before {
  content: "\e60d";
}

.icon-yinle2:before {
  content: "\e718";
}

.icon-pause:before {
  content: "\e60f";
}

.icon-play:before {
  content: "\e610";
}

.icon-play-previous:before {
  content: "\e611";
}

.icon-play-next:before {
  content: "\e612";
}

.icon-password:before {
  content: "\e75b";
}

